<ion-view>
  <ion-header-bar class="bar-lingth" align-title="center">
    <h2 class="title" style="font-family:"方正圆体"">我关注的</h2>
    <button class="button button-dark button-clear">
      <i class="icon ion-ios-plus-empty"></i>
    </button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item style="padding-top:10px;padding-bottom:10px;border-top-width:0px;display:flex;align-items:center;">
        <div style="width:60px;height:60px;background-color:aqua;line-height:60px; text-align:center;">
           <i class="icon ion-android-contacts" style="color:white;font-size:30px"></i>
        </div>
        <span style="	margin-left:10px;font-family:"方正圆体"">好友动态</span>
      </ion-item>
      <div id="guanzhudiv" class="guanzhudiv" >
          <div class="guanzhud1">
              <i class="icon ion-ios-plus-empty" style="font-size:35px"></i>
          </div>
          <p>添加更多感兴趣的内容</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
