<ion-tabs class="tabs-ligth tabs-icon-top tabs-color-active-red">
<ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home-outline" ui-sref="tabs.shouye.huadong.ziye">
 <ion-nav-view name="tab-shouye"></ion-nav-view>
</ion-tab>
<ion-tab title="视频" icon-on="ion-ios-play" icon-off="ion-ios-play-outline" ui-sref="tabs.shipin">
 <ion-nav-view name="tab-shipin"></ion-nav-view>
</ion-tab>
<ion-tab title="关注" icon-on="ion-ios-heart assertive" icon-off="ion-ios-heart-outline" ui-sref="tabs.guanzhu">
 <ion-nav-view name="tab-guanzhu"></ion-nav-view>
</ion-tab>
<ion-tab title="未登录" icon-on="ion-ios-personadd assertive" icon-off="ion-ios-personadd-outline" ui-sref="tabs.weidenglu">
 <ion-nav-view name="tab-weidenglu"></ion-nav-view>
</ion-tab>
</ion-tabs>
